@import '../../../styles/colorVariables';

//login form
.productForm {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto 50px;

    &__heading {
       margin-bottom: 10px; 
    }

    &__input {
        width: 100%;
        height: 40px;
        display: block;
        padding-left: 15px;

        & + & {
            margin-top: 20px;
        }
    }

    &__error {
        color: $red;
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    &__btn {
        width: 60px;
        height: 30px;
        border: none;
        display: flex;
        color: $white;
        cursor: pointer;
        margin: 20px auto 0;
        background: $blue;
        align-items: center;
        justify-content: center;
    }
}