@import '../../styles/colorVariables';
//burger
.burger {
    width: 24px;
    height: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
        transition: .3s transform linear;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            left: 0;
            transition: .3s transform linear;
        }

        &::before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }
}