@import '../../../styles/colorVariables';

//login form
.loginForm {
    width: 100%;    

    &__heading {
       margin-bottom: 10px; 
    }

    &__input {
        width: 100%;
        height: 40px;
        display: block;
        padding-left: 15px;

        & + & {
            margin-top: 20px;
        }
    }

    &__error {
        color: $red;
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    &__btn {
        margin: 20px auto 0;
    }
}