@import "../styles/colorVariables";

//notes
.notes {
    //form
    &__form {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    &__formItem {
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        display: block;
        margin: 10px 0;
    }

    &__formBtn {
        margin: 20px auto 0;
    }

    &__formError {
        color: $red;
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    //list
    &__list {
        list-style: none;

        &_inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__listItem {
        width: 100%;
        padding: 15px;
        display: block;
        border-radius: 10px;
        border: 2px solid $blue;
        box-shadow: 3px 3px 5px 3px rgba(63, 106, 216, 0.5);

        & + & {
            margin-top: 20px;
        }
    }

    &__listText {
        font-size: 18px;
        width: 65%;
        max-height: 100px;
        overflow-y: scroll;
    }

    &__listDate {
        width: 15%;
        font-size: 18px;
        font-weight: 700;
    }

    &__listBtn {
        width: auto;
        color: $red;
        padding: 10px;
        font-size: 16px;
        background: transparent;
        transition: .2s background linear, .2s color linear;

        &:hover {
            color: $white;
            background: $red;
        }
    }
}
