@import 'colorVariables';

//login
.login {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;

    &__heading {
        text-align: center;
    }

    &__btn {
        width: 100px;
        height: 30px;
        border: none;
        color: $blue;
        display: block;
        font-size: 18px;
        cursor: pointer;
        margin: 10px auto;
        background: transparent;
    }
}