@import './colorVariables.scss';

.cart {
    &__list {
        display: flex;
        padding: 20px;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        &_heading {
            border-bottom: 2px solid $green;
        }
    }

    &__heading {
        font-size: 20px;
        text-transform: uppercase;   
    }

    &__item {
        width: 100%;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        max-width: calc(100% / 4);
        justify-content: center;
    }

    &__controlBtn { 
        width: 40px;
        height: 40px;
        color: $white;
        margin: 0 10px;
        background: $gray;

        &_plus {
            background: $blue;
        }

        &_minus {
            background: $red;
        }
    }

    &__btn {
        width: 100%;
        color: $white;
        font-size: 18px;
        background: $blue; 
        padding: 10px 20px;
    }
}