$red: red;
$gray: gray;
$white: white;
$black: black;
$green: green;
$blue: #3f6ad8;
$orange: orange;
$sidebarElBg: #e0f3ff;
$headerBurger: #6c757d;
$sidebarInitialColor: #343a40;
$sidebarNavLinkColor: #6c757d;