@import './colorVariables';

.orders {
    list-style: none;

    &__item {
        display: block;

        & + & {
            margin-top: 20px;
        }
    }

    &__innerList {
        padding: 20px;
        display: flex;
        list-style: none;
        align-items: center;
        border-radius: 20px;
        border: 2px solid $gray;
        justify-content: space-around;
    }

    &__title {
        width: 100%;
        max-width: 80%;
        font-size: 36px;
    }

    &__customer {
        width: 100%;
        max-width: 10%;
        font-size: 24px;
    }
}