@import './colorVariables';

.product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__img {
        width: 50%;

        span {
            width: 100%!important;
        }

        img {
            object-fit: contain;
            object-position: center;
        }
    }

    &__content {
        width: 45%;
    }

    &__price {
        color: $green;
        margin-bottom: 10px;
    }

    &__status {
        color: $gray;
        margin-bottom: 10px;
    }

    &__btn {
        color: $white;
        font-size: 18px;
        background: $blue;
        padding: 10px 20px;
    }
}